* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

.container {
    position: relative;
}



/* SECTION STYLING */

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    width: var(--wrap-width);

    padding: 2rem;
    margin: 0 auto;
}

.section__col {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
}

.section__col p {
    margin-top: -.5rem;
}

.section__overheadline h3 {
    color: var(--color-accent);
    margin-bottom: -1.5rem;
    font-weight: 500;
    font-size: 1em;
}

.section__headline > h2 {
    font-size: 2em;
}

.section__text > p {
    font-size: .9em;
    line-height: 1.7em;
    color: var(--color-text);
}

.section__list ul {
    list-style: url("../assets/list_style.svg");
    line-height: 2.5rem;
    font-weight: 500;
    list-style-position: inside;
}

.section__buttons {
    display: flex;
    gap: 1rem;
}

.section__col--center {
    align-items: center;
}

.section__text--center {
    max-width: 40rem;
    text-align: center;
}



/* NAVBAR */

.navbar {
    z-index: 10;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    height: 5rem;
    border-bottom: 1px solid #217BF420;
    background: transparent;
    transition: .25s;
}

.navbar.sticky {
    background: #ffffff;
    height: 5rem;
    border-color: transparent;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 20px -10px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 20px -18px rgba(66, 68, 90, 1);
}

.navbar--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--wrap-width);
}

.navbar--space {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 50%;

    min-height: calc(100vh - 5rem);
    width: 100%;

    margin-top: 4rem;
    padding: 2rem 0;
    
    background: var(--color-bg);
    font-size: 1.2rem;
    opacity: 0;
    transition: .2s ease-in-out;
    transform: translateX(-50%);
    
    pointer-events: none;
}

.navbar__menu.active {
    margin-top: 5rem;
    
    opacity: 1;

    pointer-events: auto;
}

.navbar__menu > ul {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    list-style: none;
}

.navbar__menu > ul > li {
    position: relative;
}

.navbar__menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.navbar__menu a.active {
    color: var(--color-text-dark);
    font-weight: 600;
}

.navbar__menu img {
    transition: .25s;
}

.navbar__menu img.active {
    transform: rotate(180deg);
}

.navbar__menu__dropdown {
    position: absolute;
    left: 0;
    top: calc(100% + .5rem);
    min-width: calc(100% + 2rem);
    margin-left: -1rem;
    background: #f5f5f5;
    list-style: none;
    border-radius: .5rem;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-1rem);
    transition: .25s ease-in-out;
    padding: .5rem;
}

.navbar__menu__dropdown.active {
    margin-top: .5rem;
    position: static;
}

.navbar__menu__dropdown > li {
    border-radius: .5rem;
}

.navbar__menu__dropdown > li:hover {
    background-color: #eaeaea;
}

.navbar__menu__dropdown > li > a {
    padding: .5rem;
}

.navbar__menu__dropdown.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.navbar__menu__btn {
    display: block;
}

.navbar__menu__toggle {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar__menu__toggle .open {
    display: block;
}

.navbar__menu__toggle .close {
    display: none;
}

.navbar__menu__toggle.active .open {
    display: none;
}

.navbar__menu__toggle.active .close {
    display: block;
}

.navbar__search {
    display: none;
    position: relative;
    width: 3rem;
    height: 3rem;
    margin-right: -1rem;
    border-radius: 50%;
    justify-content: flex-end;
    align-items: center;
    border-width: 0;
    transition: width .25s;
}

.navbar__search__icon img {
    margin-top: .2rem;
    height: 1rem;
    cursor: pointer;
}

.navbar__search.active {
    width: 14rem;
    height: auto;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    border-width: 1px;
    margin-right: 0;
}

.navbar__search__input {
    display: none;
    width: 0;
}

.navbar__search.active > .navbar__search__input {
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar__search__input input {
    padding: .5rem 1rem;
    border: none;
    background: transparent;
}

.navbar__search__input input:focus {
    outline: none;
}

.navbar__btn {
    display: none;
}




/* HEADER */

.header--gradient {
    height: auto;

    margin-top: -5rem;
    padding-top: 5rem;

    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
}

.header {

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.header__img img {
    width: 100%;
}



/* BENEFITS */

.benefits {
    font-size: 1.2rem;
}


.benefits__images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.benefits__images__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.benefits__images img {
    border-radius: 1rem;
    transition: .25s ease-in-out;
}

.benefits__images img:hover {
    transform: scale(1.02);
}



/* ACHIVEMENTS */

.achivements {
    font-size: 1.2rem;
}

.achivements .section__col:nth-of-type(1) {
    order: 1;
}

.achivements .section__col:nth-of-type(2) {
    order: 2;
}

.achivements .section__col:nth-of-type(3) {
    margin-left: 0;
    margin-bottom: 2rem;
    order: 0;
}

/* ACHIVEMENTS TILES */

.achivements__tile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    padding: 2.5rem;

    background: 
    linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to top, #5E5E5E19, #B9B9B909) border-box;

    border-radius: 50em;
    border: 1px solid transparent;

    border-radius: 14px;
    box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);

}

.achivements__tile__heading {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.achivements__tile__stats {
    display: flex;
    align-items: center;
}

.achivements__tile__stats img {
    margin-left: -35px;
    margin-top: 8px;
}

.achivements__tile__stats img:first-of-type {
    margin-left: -13px;
}

.achivements__tile__stats h4 {
    color: var(--color-text);
    font-weight: 500;
}

.achivements__tile__text {
    font-size: .9em;
    line-height: 1.7em;
    color: var(--color-text-light);
}

.achivements__tile__cta a {
    text-decoration: none;
    font-weight: 500;
    font-size: .9em;
}



/* FEATURES */

.features--gradient {
    background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
}

.section.features {
    font-size: 1.2rem;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.features .section__col:not(.section__col:first-of-type) {
    flex-direction: row;
}

.features__col__left,
.features__col__right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.features__tile {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 190px;

    padding: 2rem 1.5rem;
    margin: 1.5rem .8rem;

    background: var(--color-bg);
    border-radius: 1rem;
}

.features__tile__text {
    margin-top: 1rem;
    margin-left: 1rem;
}

.features__tile__text h3 {
    margin-bottom: 1.5rem;

    color: var(--color-text-dark);
    font-size: 1.6rem;
}

.features__tile__text p {
    color: var(--color-text);
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.features__col__left .features__tile:first-of-type {
    box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
}

.features .section__col:not(.section__col:first-of-type) {
    width: 100%;
    align-items: center;
    gap: 0;
}

.features .section__col:not(.section__col:first-of-type) {
    flex-direction: column;
}



/* CONTACT */

.section.contact {
    font-size: 1.2rem;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.contact__input__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.contact__input {
    width: 100%;
}

.contact__input input,
.contact__input textarea {
    min-width: 400px;
    width: 100%;
    padding: 1rem 1.5rem;

    background: #fdfdfd;
    border-radius: 1rem;
    border: 1px solid #cecece;

    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    font-weight: 500;
    transition: background .25s;
}

.contact__input input::placeholder,
.contact__input textarea::placeholder {
    color: #a0a0a0;
}

.contact__input input:focus,
.contact__input textarea:focus {
    outline: none;
    background: #f5f5f5;
}

.contact__input textarea {
    resize: none;
    width: 100%;
    height: 200px;
}

.contact button {
    max-width: 250px;
    width: 100%;
}



/* CTA */

.cta--background {
    background: #e5f0fd;
}

.section.cta {
    font-size: 1.2rem;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
}

.cta .section__col:first-of-type {
    width: 100%;
}

.cta img {
    width: 100%;
    align-self: flex-end;
}



/* NEWS */

.section.news {
    font-size: 1.2rem;
    flex-direction: column;
}




.footer--background {
    background: #20202d;
    width: 100%;
    margin: 0 auto;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer__copy {
    max-width: var(--wrap-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 0;
    color: #fff;
    align-items: center;
}

.footer__copy p {
    text-align: left;
}

.footer__copy img {
    margin: 0 auto;
}

.footer__copy__socials {
    text-align: right;
}



/* MEDIA SCREEN */

@media screen and (max-width: 350px) {

    :root {
        font-size: 14px;
    }

    .contact__input input,
    .contact__input textarea {
        min-width: 0;
    }

}


@media screen and (min-width: 351px) {

    :root {
        font-size: 15px;
    }

    .section {
        padding: 3rem 2rem;
    }

    .contact__input input,
    .contact__input textarea {
        min-width: 350px;
    }
    
}


@media screen and (min-width: 768px) {
    
    .navbar {
        height: 7rem;
    }

    .navbar__menu {
        flex-direction: row;

        position: static;

        min-height: auto;
        width: auto;

        padding: 0;
        margin: 0;

        background: transparent;
        font-size: 1rem;
        opacity: 1;
        transform: translateX(0);

        pointer-events: auto;
    }

    .navbar__menu > ul {
        flex-direction: row;
    }

    .navbar__menu__dropdown.active {
        position: absolute;
    }

    .navbar__menu__toggle {
        display: none;
    }

    .navbar__menu__btn {
        display: none;
    }

    .navbar__btn {
        display: block;
    }

    .header--gradient {
        padding-top: 7rem;
        margin-top: -7rem;
    }

    .header__img img {
        width: auto;
    }

    .benefits__images {
        flex-direction: row;
    }

    .features__col__left,
    .features__col__right {
        width: 70%;
    }

    .features__tile {
        flex-direction: row;
        align-items: flex-start;
    }

    .contact form {
        width: 768px;
    }

}

@media screen and (min-width: 968px) {

    .section {
        padding: 4rem 2rem;
    }

    .contact__input__container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

}


@media screen and (min-width: 1140px) {

    :root {
        --wrap-width: 1140px;
    }

    html {
        font-size: 16px;
    }

    .section {
        flex-direction: row;
    }

    .features .section__col:not(.section__col:first-of-type) {
        align-items: flex-start;
        gap: 2rem;
    }

    .features .section__col:not(.section__col:first-of-type) {
        flex-direction: row;
    }

    .benefits__images {
        padding-left: 8rem;
    }

    .achivements .section__col:nth-of-type(2) .achivements__tile {
        box-shadow: none;
    }

    .achivements .section__col:nth-of-type(1) {
        order: 0;
    }

    .achivements .section__col:nth-of-type(3) {
        order: 3;
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .navbar__search {
        display: flex;
    }

    .header--gradient {
        max-height: 1000px;
        height: 100vh;

        padding-top: 4rem;
    }

    .features__col__left,
    .features__col__right {
        width: 50%;
    }

    .contact form {
        width: 1140px;
    }

    .cta .section__col:first-of-type {
        margin-top: -8rem;
    }

    .cta .section__col:first-of-type {
        width: 30%;
    }
    
}

@media screen and (min-width: 1210px) {

    .section {
        padding: 8rem 0;
    }

    .section.contact {
        padding-top: 4rem;
    }

    .achivements {
        padding: 2rem 0;
    }

}